<div class="container-fluid">
  <div class="row">
    <!--    Left Column-->
    <div class="col-3">
      <app-left-column></app-left-column>
    </div>
    <!--    End Left Column-->

    <!--    Middle Column-->
    <div class="col">
      <div class="row">
        <div class="col-6">
          <img class="img-thumbnail bikeImages" src="assets/images/bikes/BikeImage1.jpg"/>
        </div>
        <div class="col-6">
          <img class="img-thumbnail bikeImages" src="assets/images/bikes/BikeImage2.jpg"/>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <img class="img-thumbnail bikeImages" src="assets/images/bikes/BikeImage3.jpg"/>
        </div>
        <div class="col-6">
          <img class="img-thumbnail bikeImages" src="assets/images/bikes/BikeImage4.jpg"/>
        </div>
      </div>
    </div>
    <!--    End Middle Column-->

    <!--    Right Column-->
    <div class="col-3">
      <app-right-column></app-right-column>
    </div>
    <!--  End Right Column-->
  </div>
</div>
