<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    Amsterdam
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item">Rotterdam</a>
    <a class="dropdown-item">Den Haag</a>
  </div>
</div>
<div class="btn-group-vertical btn-block">
  <button type="button" class="btn btn-primary ">Leidseplein <span class="badge badge-light">9</span></button>
  <button type="button" class="btn btn-primary">Haarlemmerweg <span class="badge badge-light">9</span></button>
  <button type="button" class="btn btn-primary">Amstelveensweg <span class="badge badge-light">9</span></button>
</div>
